/* Light mode */
:root {
    --body-background-color: #ffffff;
    --text-color: #15141a; 
    --section-background-color: #f9f9fa; 
    --accent-color: #0060df; 
    --button-text-color: #15141a;
    --button-default-color: #e0e0e6;
    --button-include-color: rgb(127, 252, 127);
    --button-exclude-color: rgb(250, 124, 124);

    --github-mark: url('icons/github-mark.png');
}

 
/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #2b2a33;
        --text-color: #ffffff; 
        --section-background-color: #3a3944; 
        --accent-color: #80c8f6; 
        --button-text-color: #15141a;
        --button-default-color: #e0e0e6;
        --button-include-color: rgb(127, 252, 127);
        --button-exclude-color: rgb(250, 124, 124);

        --github-mark: url('icons/github-mark-white.png');
    }
}


 
 /* Dark mode */
 /* @media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #121212;
        --text-color: #ffffff; 
        --section-background-color: #1e1e1e; 
        --accent-color: #3498db; 
        --button-default-color: white;
        --button-include-color: rgb(127, 252, 127);
        --button-exclude-color: rgb(250, 124, 124);
    }
 } */


/* Global Styles */
body {
    color: var(--text-color);
    background: var(--body-background-color);
    margin: 0px auto; 
    max-width: 80%;
}

/* Header Section */
header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 

    border-style: solid;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--section-background-color);
}

.github-link {
    padding-right: 10px;
    width: 50px;
}

#github-logo {
    content: var(--github-mark);
}

/* Main Container */
#main-container {
    display: flex; 
    justify-content: center;
    align-items: start;
}

/* Filtering Options */
#filter-container {
    border-style: solid;
    float: left;
    margin-right: 20px;
    /* flex-grow: 1; */
    max-width: 290px;
    min-width: 290px;
    /* max-width: 25%;
    min-width: 225px; */
    background-color: var(--section-background-color);
}

.filter-options {
    /* border-style: solid; */
    padding: 20px;
    margin-top: -30px;
    padding-bottom: 20px;
}

/* Wishlist Selection */
#wishlist-container {
    border-style: solid;
    padding: 10px;
    float: inline-start;
    flex-grow: 1;
    background-color: var(--section-background-color);
}

.wishlist-text {
    padding: 10px;
}

.wishlist-title {
    font-weight: bold;
}

.wishlist-link {
    font-weight: normal;
}

a {
    color: var(--accent-color);
}

/* Filter Button */
.filter-button {
    color: var(--button-text-color);
    align-items: center;
    border-radius: 24px;
    border-style: none;
    cursor: pointer;
    padding: 2px 15px;
    margin: 2px;
    margin-top: -100px;
}
  

/* Handle button states */
.default-btn {
    background-color: var(--button-default-color);
}

.include-btn {
    background-color: var(--button-include-color);
}

.exclude-btn {
    background-color: var(--button-exclude-color);
}


