/* Global Styles */
body {
    color: #eee;
    background: #121212;
    margin: 0px auto; 
    max-width: 80%;
}

/* Header Section */
header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 

    border-style: solid;
    padding-left: 20px;
    margin-bottom: 20px;
}

.github-link {
    padding-right: 10px;
    width: 50px;
}

/* Main Container */
#main-container {
    display: flex; 
    justify-content: center;
    align-items: start;
}

/* Filtering Options */
#filter-container {
    border-style: solid;
    float: left;
    margin-right: 20px;
    flex-grow: 1;
}

.filter-options {
    /* border-style: solid; */
    padding: 20px;
    margin-top: -30px;
    padding-bottom: 20px;
    flex-grow: 1;
}

/* Wishlist Selection */
#wishlist-container {
    border-style: solid;
    padding: 10px;
    float: inline-start;
}

.wishlist-text {
    padding: 10px;
}

.wishlist-title {
    font-weight: bold;
}

.wishlist-link {
    font-weight: normal;
}

a {
    color: #809fff;
}

/* Filter Button */


/* Handle button states */
.default-btn {
    background-color: white;
}

.include-btn {
    background-color: rgb(127, 252, 127);
}

.exclude-btn {
    background-color: rgb(250, 124, 124);
}

.filter-button {
  align-items: center;
  border-radius: 24px;
  border-style: none;
  cursor: pointer;
  padding: 2px 15px;
  margin: 2px;
  margin-top: -100px;
}

